extends ../layout


//- block header
    include includes/header

block content

    form(action=".", method="post", data-parsley-validate)
        .row
            .column-10.push-1
                .centered.page-header
                    h1
                        | Abbott
                        br
                        | wants you to show your:

        
        .row
            .column-10.push-1
                .fullest-container
                    - for group in utils.splitIntoGroups(['Joy', 'Peace', 'Hope', 'Grace', 'Skill', 'Play', 'Soul'], 2)
                        .row
                            - for term in group
                                .column-5
                                    .fullest-select
                                        label
                                            input(type="radio", name="overlayWord", value="#{term}fullest", required)
                                            .fullest-term
                                                | #{term}fullest
                                                .selection-indicator
                                                    .checkmark
                                                        .stem
                                                        .kick


        .row
            .columns-12
                .centered.breathe-top
                    .after-action-message
                        p.lead
                            | Once inside, you'll have 
                            span.fraction
                                | 1 
                                small
                                    sup
                                        | 1
                                    | /
                                    sub
                                        | 2
                            | seconds



        .row
            .columns-12
                .centered
                    input(type="submit", value="continue").disabled
