extends ../layout


//- block header
    include includes/header

block content

    .row
        .column-12
            .centered.page-header
                h1
                    | Select Pod

    - var pods = ['1', '2']
    for pod in pods
        .row
            .column-12
                .centered
                    a(href="/pods/#{pod}")
                        button(type="button")
                            | Pod #{pod} 

