extends ../layout


//- block header
    include includes/header

block content

    .row
        .columns-12
            .centered.page-header.visually-center
                img(src="/images/abbott-logo-welcome@2x.png", width="30%")


    .row
        .columns-12
            .centered.breathe-top-extra
                a(href="../signup/create")
                    button
                        | Get Started


block footer
