<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.umpqua.bregalad.server</string>

        <key>KeepAlive</key>
        <dict>
          <key>SuccessfulExit</key>
          <false/>
        </dict>

        <key>ProgramArguments</key>
        <array>
                <string>npm</string>
                <string>run-script</string>
                <string>production</string>
        </array>

        <key>EnvironmentVariables</key>
        <dict>
          <key>PATH</key>
          <string>/usr/local/bin/:$PATH</string>
        </dict>

        <key>WorkingDirectory</key>
        <string>/Users/UmpquaServer/bregalad</string>

        <key>RunAtLoad</key>
        <true/>

        <key>StandardErrorPath</key>
        <string>/Users/UmpquaServer/bregalad/server.err</string>

        <key>StandardOutPath</key>
        <string>/Users/UmpquaServer/bregalad/server.out</string>
</dict>
</plist>
