{
  "postmark": {
    "key": "some-api-key-here-warrgarbl",
    "templateId": 12345,
    "emailFrom": "sample@example.com",
    "emailReplyTo": "anotheraddress@example.org"
  },
  "default_address": ["Bellevue 4th St.", "10885 NE 4th St", "Suite 100", "Bellevue, WA", "425-256-6550"],
  "zips": {
    "90210": ["One String", "For Each Line", "Of The Address"],
    "98110": ["Bainbridge Island", "600 Winslow Way E.", "Suite 120", "Bainbridge Island, WA", "206-842-8676"]
  }
}
