.row
    .column-12
        p.lead
            small
                | Please enter parent or guardian name

.row
    .column-5
        label
            | Parent or Guardian First Name
            input(type="text", name="parentGuardianFirstName", value="#{(contact) ? contact.parentGuardianFirstName : ''}", required, autocomplete="off")
    .column-5
        label
            | Parent or Guardian Last Name
            input(type="text", name="parentGuardianLastName", value="#{(contact) ? contact.parentGuardianLastName : ''}", required, autocomplete="off")

.row
    .column-12
        p.lead
            small
                | Where would you like us to send your video? 
                span.fade
                    |  (Optional)

.row
    .column-5
        label
            | Email Address
            input(type="email", name="parentGuardianEmail", value="#{(contact) ? (contact.getDecryptedField('parentGuardianEmail') || '') : ''}", autocomplete="off", data-parsley-maxlength="254")
    
    .column-5
        label
            | Mobile Number - U.S Numbers Only
            input(type="text", name="parentGuardianTelephone", data-initial-value="#{(contact) ? (contact.getDecryptedField('parentGuardianTelephone') || '') : ''}", autocomplete="off", data-parsley-pattern!="\\+?[\\d\\- ]+", data-parsley-trigger="change", data-parsley-error-message="Please enter a valid phone number", data-parsley-length="[14, 14]", data-mask="(###) ###-####")