


extends ../layout


//- block header
    include includes/header

block content

    .row.pending
        .column-12
            h4
                a(href="/moderate/status/pending")
                    | pending

            .row
                if !participants.length
                    p
                        | No pending items

                for group in utils.splitIntoGroups(participants, 3)
                    .row
                        for participant in group
                            .column-4
                                include includes/participant

                if hasMorePages
                    .row
                        .column-4
                            h4
                                a(href="/moderate/#{page + 1}")
                                    | More

    .row
        .column-12
            h4
                a(href="/moderate/status/approved")
                    | #{approvedCount} participants approved

    .row
        .column-12
            h4
                a(href="/moderate/status/rejected")
                    | #{rejectedCount} participants rejected

block footer