


extends ../layout


//- block header
    include includes/header

block content

    .row.status
        .column-12
            h2
                | #{status}

            .row
                if !participants.length
                    p
                        | No #{status} items

                for group in utils.splitIntoGroups(participants, 3)
                    .row
                        for participant in group
                            .column-4
                                include includes/participant
                if hasMorePages
                    .row
                        .column-4
                            a(href="/moderate/status/#{status}/#{page + 1}")
                                | More


block footer